.text{
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #000000;
}
body{
    padding: 100px;
    background-color: #e0e0e0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.pad{
    padding: 100px;
}
.img{
    background-image: url("gatsu.jpg");
    background-size: cover;
    border-radius: 250px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 5px solid #000000;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 5px solid#000000;
    background-color: #f5f5f5;
    color: #000000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
